{
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 80,
    "trailingComma": "none",
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "vueIndentScriptAndStyle": true
}